@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

h1 {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 100;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-size: 3rem;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}