*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#background-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#embed-iframe{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#fight-canvas{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}